@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.navbar-wrapper {
  @apply w-full absolute top-0;
}

.navbar {
  @apply max-w-7xl mx-auto flex flex-row justify-between px-6 py-4;
}

.footer-text {
  @apply text-2xl my-auto;
}

.footer-social-icon {
  @apply h-8 w-8 my-auto;
}
